.DS_Store
.idea/*
log/*
opendlp/sensitive_analyze/__pycache__/
opendlp/sensitive_analyze/entity_classify/.DS_Store
opendlp/sensitive_analyze/entity_classify/__pycache__/
opendlp/sensitive_analyze/entity_classify/trained-model/.DS_Store
opendlp/sensitive_analyze/entity_recognize/.DS_Store
opendlp/sensitive_analyze/entity_recognize/__pycache__/
opendlp/sensitive_analyze/entity_recognize/conf/.DS_Store
opendlp/sensitive_analyze/entity_recognize/conf/__pycache__/
opendlp/sensitive_analyze/entity_recognize/predefined_recognizer/.DS_Store
opendlp/sensitive_analyze/entity_recognize/predefined_recognizer/__pycache__/
opendlp/sensitive_analyze/entity_recognize/predefined_recognizer/nlp_recognizer/.DS_Store
opendlp/sensitive_analyze/entity_recognize/predefined_recognizer/nlp_recognizer/__pycache__/
opendlp/sensitive_analyze/entity_recognize/predefined_recognizer/rule_recognizer/.DS_Store
opendlp/sensitive_analyze/entity_recognize/predefined_recognizer/rule_recognizer/__pycache__/
opendlp/sensitive_analyze/entity_recognize/userdefined_recognizer/.DS_Store
opendlp/sensitive_analyze/entity_recognize/userdefined_recognizer/__pycache__/

__pycache__/
opendlp/regex_generate/__pycache__/
opendlp/regex_generate/config/__pycache__/
opendlp/regex_generate/evolution/__pycache__/
opendlp/regex_generate/fitness/__pycache__/
opendlp/regex_generate/generations/__pycache__/